* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  min-height: 100vh;
  font-weight: 300;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5em;
}

.wrap {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 373px;
  height: 476px;
}
.container:hover .icon-bg, .container:active .icon-bg {
  border-radius: 13px;
  transform: translateY(-22px) scale(3);
  -webkit-transform: translateY(-22px) scale(3);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.container:hover .icon, .container:active .icon {
  transform: translateY(-48px) scale(1.4);
  -webkit-ransform: translateY(-48px) scale(1.4);
}
.container:hover .text, .container:active .text {
  opacity: 0;
  transform: translateY(-14px) scale(0.8);
  -webkit-transform: translateY(-14px) scale(0.8);
}

.container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 373px;
  height: 476px;
}

.box-frontend {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 373px;
  height: 476px;
  flex-direction: column;
  border-radius: 13px;
  overflow: hidden;
  transition: box-shadow ease 0.4s;
  -webkit-transition: box-shadow ease 0.4s;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.box-frontend:after {
  content: "See my works on Github";
  position: absolute;
  width: 270px;
  top: 311px;
  opacity: 0;
  font-size: 1.2em;
  color: white;
  line-height: 1.5em;
  transition: all 0.6s ease;
  transition-delay: 0.32s;
  text-align: center;
  margin-top: 45px;
}

.box-graphic {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 373px;
  height: 476px;
  flex-direction: column;
  border-radius: 13px;
  overflow: hidden;
  transition: box-shadow ease 0.4s;
  -webkit-transition: box-shadow ease 0.4s;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.box-graphic:after {
  content: "See my Graphic works";
  position: absolute;
  width: 270px;
  top: 311px;
  opacity: 0;
  font-size: 1.2em;
  color: white;
  line-height: 1.5em;
  transition: all 0.6s ease;
  transition-delay: 0.32s;
  text-align: center;
  margin-top: 45px;
}

.box-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 373px;
  height: 476px;
  flex-direction: column;
  border-radius: 13px;
  overflow: hidden;
  transition: box-shadow ease 0.4s;
  -webkit-transition: box-shadow ease 0.4s;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.box-contact:after {
  content: "Find out how to contact with me";
  position: absolute;
  width: 270px;
  top: 311px;
  opacity: 0;
  font-size: 1.2em;
  color: white;
  line-height: 1.5em;
  transition: all 0.6s ease;
  transition-delay: 0.32s;
  text-align: center;
}

.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
}

.icon-bg-frontend {
  background-color: #5959e3;
}

.icon-bg-graphic {
  background-color: #3b3be4;
}

.icon-bg-contact {
  background-color: #2d2dcc;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0.5em;
  transition: all 0.6s ease;
  transition-delay: 0.32s;
  will-change: transform;
  -webkit-transition: all 0.6s ease;
  -webkit-transition-delay: 0.32s;
}

.text {
  position: relative;
  font-size: 1.3em;
  top: -100px;
  width: 200px;
  text-align: center;
  transition: all 0.4s ease;
  transition-delay: 0.32s;
}
.text .title-graphic {
  color: #3b3be4;
}
.text .title-frontend {
  color: #5959e3;
}
.text .title-contact {
  color: #2d2dcc;
}

.container-box:hover .box-frontend:after {
  opacity: 1;
}
.container-box:hover .box-graphic:after {
  opacity: 1;
}
.container-box:hover .box-contact:after {
  opacity: 1;
}

.section_about {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.section_about .image_me {
  width: 80px;
  height: auto;
  border-radius: 15%;
  margin-right: 1em;
}
.section_about .about {
  display: flex;
  align-items: center;
  width: 900px;
}

.section_portfolio {
  display: flex;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 0.6em;
  width: 100%;
  background-color: #dadada;
  text-align: center;
  display: flex;
  justify-content: center;
}
footer .ico_linked {
  width: 2em;
}
footer .ico_github {
  width: 2em;
}
footer .span_contact {
  margin-right: 1em;
}
/*# sourceMappingURL=main.css.map */
