.wrap {
    display: flex;
    flex-direction: column;
}

header {
    @include flex-center;
    flex-wrap: wrap;
    margin-top: 2em;
}

.container {
    @include flex-center;
    flex-direction: column;
    @include box-size;

    &:hover,
    &:active {
        .icon-bg {
            border-radius: 13px;
            transform: translateY(-22px) scale(3);
            -webkit-transform: translateY(-22px) scale(3);
            -webkit-mask-image: -webkit-radial-gradient(white, black);
        }

        .icon {
            transform: translateY(-48px) scale(1.4);
            -webkit-ransform: translateY(-48px) scale(1.4);
        }

        .text {
            opacity: 0;
            transform: translateY(-14px) scale(0.8);
            -webkit-transform: translateY(-14px) scale(0.8);
        }
    }
}

.container-box {
    @include flex-center;
    @include box-size;
}

.box-frontend {
    @include flex-center;
    position: absolute;
    @include box-size;
    flex-direction: column;
    border-radius: 13px;
    overflow: hidden;
    transition: box-shadow ease 0.4s;
    -webkit-transition: box-shadow ease 0.4s;
    -webkit-mask-image: -webkit-radial-gradient(white, black);

    &:after {
        content: "See my works on Github";
        @include box-content;
        margin-top: 45px;
    }
}

.box-graphic {
    @include flex-center;
    position: absolute;
    @include box-size;
    flex-direction: column;
    border-radius: 13px;
    overflow: hidden;
    transition: box-shadow ease 0.4s;
    -webkit-transition: box-shadow ease 0.4s;
    -webkit-mask-image: -webkit-radial-gradient(white, black);

    &:after {
        content: "See my Graphic works";
        @include box-content;
        margin-top: 45px;
    }
}

.box-contact {
    @include flex-center;
    position: absolute;
    @include box-size;
    flex-direction: column;
    border-radius: 13px;
    overflow: hidden;
    transition: box-shadow ease 0.4s;
    -webkit-transition: box-shadow ease 0.4s;
    -webkit-mask-image: -webkit-radial-gradient(white, black);

    &:after {
        content: "Find out how to contact with me";
        @include box-content;
    }
}

.icon-bg {
    @include flex-center;
    width: 180px;
    height: 180px;
    border-radius: 100%;

    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
}

.icon-bg-frontend {
    background-color: $colorligh;
}

.icon-bg-graphic {
    background-color: $colorlighter;
}

.icon-bg-contact {
    background-color: $colordark;
}

.icon {
    @include flex-center;
    position: relative;
    margin-top: 0.5em;
    transition: all 0.6s ease;
    transition-delay: 0.32s;
    will-change: transform;
    -webkit-transition: all 0.6s ease;
    -webkit-transition-delay: 0.32s;
}

.text {
    position: relative;
    font-size: 1.3em;
    top: -100px;
    width: 200px;
    text-align: center;
    transition: all 0.4s ease;
    transition-delay: 0.32s;

    .title-graphic {
        color: $colorlighter;
    }

    .title-frontend {
        color: $colorligh;
    }

    .title-contact {
        color: $colordark;
    }
}

.container-box:hover {
    .box-frontend {
        &:after {
            opacity: 1;
        }
    }

    .box-graphic {
        &:after {
            opacity: 1;
        }
    }

    .box-contact {
        &:after {
            opacity: 1;
        }
    }
}

.section_about {
    display: flex;
    justify-content: center;
    margin-top: 1em;

    .image_me {
        width: 80px;
        height: auto;
        border-radius: 15%;
        margin-right: 1em;
    }

    .about {
        display: flex;
        align-items: center;
        width: 900px;
    }
}

.section_portfolio {
    display: flex;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 0.6em;
    width: 100%;
    background-color: $colorGray;
    text-align: center;
    display: flex;
    justify-content: center;

    & .ico_linked {
        width: 2em;
    }

    & .ico_github {
        width: 2em;
    }

    & .span_contact {
margin-right: 1em;
    }
}
